__pycache__/
*.py[cod]
*$py.class

wandb/
ppo_rlhf_tensorboard/
ppo_math_tensorboard/
logs/

*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg